#container {
  padding:2em;
button {
  border:none;
  margin: 7px;
  padding:10px;
  background: blueviolet;
  color: #fff;
}
}
.col {
  width:33%;
  display:inline-block;
  padding:40px 0;
  color:gray;
}

#list {
  padding: 1em;
  background: #fff;
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  white-space: nowrap;
  vertical-align: middle;

}

a {
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.underline {
  padding-bottom: 2px;
  --bg-h: 2px;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
}
