.editable{
  border: 1px solid #6A5ACDFF;
  border-radius: 10px;
  border-width: 2px;
  width: 300px;
  display:inline-block;
  margin-bottom: 3px;
  text-align: center;
}
span{
  position: absolute;
  left: 30px;
}

.btnAgregar {
  margin-top: 10px;
  color: #6A5ACDFF;
  border-color: #6A5ACDFF;
}

.btnAgregar:hover {
  color: #000;
  background-color: #6A5ACDFF;
  border-color: #6A5ACDFF;
}
