<div class="modal-body">
  <form>
  <p>ID: {{recetarioBuilder.id}}</p>
  <hr>
  <span class="float-md-start"> Titulo: </span> <input class="editable" name="tituloRecetario" [(ngModel)]=recetarioBuilder.titulo> <i class="fa-solid fa-pencil edit-icon float-sm-end"></i>
  <hr>
  ({{recetarioBuilder.recetas.length}}) Recetas:
  <div class="recetas" *ngFor="let receta of recetarioBuilder.recetas;let indexReceta = index">
    <hr>
    <span>Titulo receta:</span> <input class="editable"  [name]="'receta-'+indexReceta" [(ngModel)]="receta.nombre"> <i class="fa-solid fa-pencil edit-icon float-sm-end"> </i>
    <div *ngFor="let ingrediente of receta.ingredientes; let indexIngrediente = index">
      <hr>
      <div>
        <span> Tipo:</span>
          <select [name]="'ingredienteGrupo-'+indexIngrediente"[(ngModel)]="ingrediente.grupo">
          <option [value]="grupo" *ngFor="let grupo of gruposIngredientes">{{grupo}}</option>
          </select>
        <i class="fa-solid fa-pencil edit-icon float-sm-end"> </i><br>
        <span> Nombre Ingrediente: </span><input class="editable"  [name]="'ingredienteNombre-'+indexIngrediente" [(ngModel)]="ingrediente.nombre"><i class="fa-solid fa-pencil edit-icon float-sm-end"> </i><br>
        <span> Calorias: </span><input class="editable"  [name]="'ingredienteCalorias-'+indexIngrediente"  [(ngModel)]="ingrediente.calorias"><i class="fa-solid fa-pencil edit-icon float-sm-end"> </i><br>
        <span> Cantidad: </span><input class="editable"  [name]="'ingredienteCantidad-'+indexIngrediente"  [(ngModel)]="ingrediente.cantidad"><i class="fa-solid fa-pencil edit-icon float-sm-end"> </i><br>
      </div>
    </div>
    <div class="btn btn-outline-dark btnAgregar" (click)="agregarIngrediente(indexReceta)"> Agregar ingrediente</div>
  </div>
    <hr>
    <br><br>
    <div class="btn btn-outline-info btnAgregar" (click)="agregarReceta()"> Agregar receta</div>
  </form>
  <div (click)="guardarCambios()" class="btn btn-lg btn-outline-dark"> Modificar </div>
</div>
<pre>{{recetarioBuilder|json}}</pre>

