<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<div class="btn btn-outline-dark card-read-more" data-bs-toggle="modal"
     attr.data-bs-target="{{ '#modal-' + recetario.id }}"> Mas informacion <i class="fas fa-info-circle float-end"></i>
</div>
<!--  ------------------MODAL-------------------->
<div class="modal fade" attr.id="{{'modal-'+recetario.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" attr.aria-labelledby="{{ '#staticBackdropLabel-' + recetario.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" attr.id="{{'staticBackdropLabel-'+ recetario.id}}">{{recetario.titulo }} -
          Informacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                attr.data-bs-target="{{'modal-'+recetario.id}}"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: center">Titulo: "{{recetario.titulo}}"</p>
        <hr>
        <p style="text-align: center;">Recetas:</p>
        <hr>
        <div class="recetas" *ngFor="let receta of recetario.recetas">
          <app-recetas-accordion [receta]="receta" [elementId]="recetario.id"></app-recetas-accordion>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
