<div class="btn btn-outline-dark card-read-more" data-bs-toggle="modal"
     attr.data-bs-target="#modal-{{ ingrediente.id }}"> Mas informacion <i class="fas fa-info-circle float-end"></i>
</div>
<!--  ------------------MODAL-------------------->
<div class="modal fade" attr.id="modal-{{ingrediente.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" attr.aria-labelledby="#staticBackdropLabel-{{ ingrediente.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" attr.id="staticBackdropLabel-{{ingrediente.id}}">{{ingrediente.nombre }} -
          Informacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                attr.data-bs-target="modal-{{ingrediente.id}}"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: center">Grupo Alimneticio: "{{ingrediente.grupo}}"</p>
        <p style="text-align: center">C. de Calorias: "{{ingrediente.calorias}}"</p>
        <p style="text-align: center">Tipo cantidad: "{{ingrediente.infoCantidad.type}}"</p>
        <span [ngSwitch]="ingrediente.infoCantidad?.type">

                  <p style="text-align: center">Cantidad: "{{ingrediente.infoCantidad.cantidad}}"</p>
        <p style="text-align: center">Unidades: "{{ingrediente.infoCantidad.unidad}}"</p>
              <span *ngSwitchCase="'CantidadNecesaria'">c/n</span>
              <span *ngSwitchCase="'Medibles'"> {{ingrediente.infoCantidad.cantidad + " " + ingrediente.infoCantidad.unidad}} </span>
              <span *ngSwitchDefault></span>
        </span>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
