<div [@explainerAnim] class="row">
  <section class="wrapper">
    <div class="container-fostrap">
      <div class="col">
        <img src="../assets/hexactaIcon.jpg" class="fostrap-logo"/>
        <h1 class="heading">
          {{title}}
        </h1>
      </div>
    </div>
  </section>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="footer">
    <div id="button"></div>
    <div id="container">
      <div id="cont">
        <div class="footer_center">
          <h3><img src="../assets/hexactaIcon.jpg" alt="Hexacta" height="30" align="center"> Hexacta 2022 - Academy</h3>
        </div>
      </div>
    </div>
  </div>
</footer>
