.edit-icon{
  position: relative;
  text-decoration: none;
  text-align-all: center;
  align-content: end;
  text-align-all: right;
  float:right;
  color: royalblue;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
  text-decoration: none !important;
  padding:13px;
  font-weight:700;
  text-transform: uppercase;
  border: none;
  display: block;
  width: 100%;
}
