<button class="buttonCrud" (click)="agregarElemento()">Add item</button>
<button class="buttonCrud" (click)="eliminarElemento()">Remove item</button>
{{recetarios.length}}
<div id="container" [@listAnimation]="recetarios.length">
  <div class="row">
    <section class="wrapper">
      <div class="container-fostrap">
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-4" *ngFor="let recetario of recetarios">
                <div class="card">
                    <img class="img-card" src="assets/recetarioImage.png">
                  <div class="card-content">
                    <h4 class="card-title">
                      <span class="tituloReceta"> {{recetario.titulo}}</span>
                    </h4>
                    <span style="text-align: center">
                      Cantidad de recetas: {{recetario.recetas.length}}
                    </span>
                  </div>
                  <app-recetario-info-modal [recetario]="recetario"></app-recetario-info-modal>
                  <app-recetario-edit-modal [recetario]="recetario"></app-recetario-edit-modal>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--    <div class="card col-lg-4 " style= "width: 17vw; margin-top: 10px; margin-left: 10px" *ngFor="let recetario of recetarios">-->
<!--      <div data-bs-toggle="modal" attr.data-bs-target="{{ '#modal-' + recetario.id }}">-->
<!--        <img class="card-img-top" src="assets/recetarioImage.png" alt="Card image cap">-->
<!--        <div class="card-body">-->
<!--          <div class="tituloReceta"><strong>{{recetario.titulo}}</strong></div>-->
<!--          <div class="infoReceta">-->
<!--            Cantidad de recetas: {{recetario.recetas.length}}-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;  &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;MODAL&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--      <div class="modal fade" attr.id="{{'modal-'+recetario.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--          <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--              <h5 class="modal-title" id="staticBackdropLabel">{{recetario.titulo }} - INFORMACION</h5>-->
<!--              <button type="button" class="btn-close" data-bs-dismiss="modalRecetarios" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--              <p style="text-align: center">ID: {{recetario.id}}</p>-->
<!--              <p style="text-align: center">Titulo: "{{recetario.titulo}}"</p>-->
<!--              <p style="text-align: center;">Recetas:</p>-->
<!--              <div class="recetas" *ngFor="let receta of recetario.recetas">-->
<!--                 <app-ingredientes-list [receta] = receta> </app-ingredientes-list>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
  -----------------------------
  </div>
</div>

