
r-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}

@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}

@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}

.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
  position: relative;
  height: 300px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
  display: block;
  margin: auto;
}

.img-card img {
  height: 200px;
  object-fit: cover;
  transition: all .25s ease;

}

.card-content {
  padding: 15px;
  text-align: center;
}

.tituloReceta {
  transform: translate(-50%, -50%);

  background: linear-gradient(0deg, #a980f0, #a980f0) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;

  padding-bottom: 2px;
  --bg-h: 5px;
}

.tituloReceta:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  cursor: pointer;
}

.card-title {
  text-align: center;
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}

.card-title span {
  color: #A980F0FF;
  text-decoration: none !important;
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  width: 100%;
}

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
    animation: fade-in 1.5s;

  }
}

button {
  font-family: 'Rubik', sans-serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;


  &.learn-more {

    font-weight: 600;
    color: $text;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 #ececec;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }

    &:hover {

      background: $pink;
      transform: translate(0, 0.25em);

      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 #ececec;
        transform: translate3d(0, 0.5em, -1em);
      }
    }

    &:active {
      background: $pink;
      transform: translate(0em, 0.75em);

      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}
