<div style="text-align: center; vertical-align: middle;margin-top: 15px;margin-bottom: 15px" class="row">
  <div class="col-6">
    <button class="learn-more" (click)="agregarElemento()">Agregar Recetario</button>
  </div>
  <div class="col-6">
    <button class="learn-more" (click)="eliminarElemento()">Eliminar Recetario</button>
  </div>
</div>
{{recetarios.length}}
<div id="container" [@listAnimation]="recetarios.length">
  <div class="row">
    <section class="wrapper">
      <div class="container-fostrap">
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-4" *ngFor="let recetario of recetarios;let indexRecetario = index">
                <div class="card">
                  <img class="img-card" src="assets/recetaImage3.png">
                  <div class="card-content">
                    <h4 class="card-title">
                      <span class="tituloReceta"> {{recetario.nombre}}</span>
                    </h4>
                    <span style="text-align: center">
                      Cantidad de recetas: {{recetario.recetas.length}}
                    </span>
                  </div>
                  <app-recetario-info-modal [recetario]="recetario"></app-recetario-info-modal>
                  <app-recetario-edit-modal [recetario]="recetario"></app-recetario-edit-modal>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

